body {
    background-color: #000;
    font-family: Helvetica;
    color: #fff;
}

#Products{
	display: inline-block;
	width: 850px;
}

#ProductDiv {
	float: left;
}

#ProductImg {
	width: 232px;
	height: 232px;
	margin: 15px;
	display: inline-block;
}

#ProductT {
	font-size: 16px;
	line-height: 20px;
	margin: 15px;
}

#ProductD {
	width: 232px;
	font-size: 12px;
	line-height: 16px;
	margin: 15px;
}

#PriceNSigns {
	display: inline-block;
	width: 232px;
	margin: 15px;
}

#Signs {
	width: 30px;
	height: 30px;
	background-color: #00adef; 
	margin-right: 2px;
	float: left;
}

#Sign {
	width: 15px;
	height: 15px;
	margin: 7px;
}

#Quant {
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #fff;
	font-size: 16px;
	text-align: center;
	color: #000;
	float: left;
	margin-right: 2px;
}

#Price {
	width: 136px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: right;
	font-size: 18px;
}

span {
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
}

#Next {
	width: 20px;
	height: 20px;
	float: left;
	margin: 15px;
	top: 101px;
	position: relative;
}

#Total {
	display: inline-block;
	width: 770px;
	height: 30px;
	position: relative;
	bottom: 10px;
}

#TotalT {
	float: right;
	position: relative;
	right: 10px;
	font-size: 18px;
	line-height: 24px;
}

#TotalV {
	float: right;
	font-size: 18px;
	line-height: 24px;
}